* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

html {
  font-size: 62.5%;
}

/* Fix Body and Background */

body {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Background */

#background {
  width: 100vw;
  height: 100vh;
}

/* Toggle Menu */

.navigation-menu {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#mmeennuu {
  display: none;

}

#mmeennuu:checked~.menu {
  width: 65rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 0.4rem solid #4296fa;
  height: 10rem;
  background-color: #fff;
}

#mmeennuu:checked~.menu>ul {
  display: block;
  opacity: 1;
}

#mmeennuu:checked~.menu>.barry {
  display: none;
}

.menu {
  display: block;
  margin: 3rem auto;
  width: 10rem;
  height: 10rem;
  background-color: #C0C0C0;
  border: 0.3rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.menu div.barry {
  width: 4rem;
  margin: 3.5rem auto;
}

.menu div.barry .bar {
  display: block;
  width: 100%;
  height: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 0.2rem;
  background-color: #fff;
}

.menu ul {
  opacity: 0;
  display: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  width: 65rem;
  text-align: center;
  margin-bottom: 0;
}

.menu ul li {
  display: inline-block;
}

.menu ul li p {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: #000;
}

.fa {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.fa-folder {
  font-size: 7rem;
  color: #17c0eb;
  border: 2px solid transparent;
}

/* Buttons and Pages */

input[type=radio] {
  display: none;
}

.close-button label {
  position: fixed;
  top: 3vh;
  right: 3vw;
  cursor: pointer;
  z-index: 3000;
}

/* Grid Container */
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: main;
}

.item3 {
  grid-area: col-1;
}

.item4 {
  grid-area: col-2;
}

.item5 {
  grid-area: col-3;
}

.item6 {
  grid-area: footer;
}

/* Dream Page Attributes */

.dreamPage {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  animation-duration: 1s;
  animation-name: createBox;
}

.dream-container {
  display: grid;
  grid-template:
    "header header header"
    "main main main"
    "col-1 col-2 col-3"
    "footer footer footer";
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.dream-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#dream:checked+.dreamPage {
  display: block;
  width: 80vw;
  height: 80vh;
  top: 0;
  left: 10vw;
  background-color: #fff;
  border: 1.5rem solid #000;
  border-radius: 1rem;
  z-index: 1000;

}

.item1>p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  color: black;
  text-align: center;
  background-color: lightgrey;
  animation-name: moveRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.profile-photo-container {
  width: 25%;
  overflow: hidden;
  margin: 0;
  float: left;
  height: 100%;
}

.profile-photo {
  width: 100%;
  border-radius: 50%;
  padding: 1rem;
  border: 1px solid #4296fa;
}

.profile-details {
  float: left;
}

.profile-details>p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.3rem;
  color: black;
  text-align: center;
  background-color: lightgrey;
}

/* Inspire Page Attributes*/

.inspirePage {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  animation-duration: 1s;
  animation-name: createBox;
}

.inspire-container {
  display: grid;
  grid-template:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.inspire-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#inspire:checked+.inspirePage {
  display: block;
  width: 80vw;
  height: 80vh;
  top: 0;
  left: 10vw;
  background-color: #fff;
  border: 1.5rem solid #000;
  border-radius: 1rem;
  z-index: 1000;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.item6>p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  color: black;
  text-align: center;
  background-color: lightgrey;
}

/* Courage Page Attributes */

.couragePage {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  animation-duration: 1s;
  animation-name: createBox;
}

.courage-container {
  display: grid;
  grid-template:
    "header header header"
    "col-1 col-2 col-2"
    "footer footer footer";
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.courage-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#courage:checked+.couragePage {
  display: block;
  width: 80vw;
  height: 80vh;
  top: 0;
  left: 10vw;
  background-color: #fff;
  border: 1.5rem solid #000;
  border-radius: 1rem;
  z-index: 1000;
}

.item3>img{
  width: 30rem;
  height: 17rem;
}

/* Skills */

.skills-div {
  position: absolute;
  top: 43rem;
  background-color: rgba(138, 138, 138, 0.288);
  width: 100%;
  height: 60vh;
  z-index: 2;
}

.skills {
  list-style: none;
  font-size: 20px;
  padding: 0;
  overflow: hidden;
}

.skills .skill {
  display: block;
  position: relative;
  height: 60px;
  margin: 10px auto;
  width: 90%;
}

@media only screen and (min-width: 900px) {
  .skills .skill {
      display: inline-block;
      width: 25%;
      margin: 10px;
  }
}

.skills .skill:before, .skills .skill:after {
  content: "";
  position: absolute;
  border-radius: 20px;
  margin-top: 40px;
}

.skills .skill:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background: #eeeeee;
}

.skills .skill:after {
  background-color: #2ea994;
  background: repeating-linear-gradient(-45deg, #2ea994, #2ea994 10px, #31b59f 10px, #31b59f 20px);
  height: 16px;
  top: 2px;
  right: 95%;
  bottom: 2px;
  left: 2px;
  -webkit-animation: fill 2s both;
  -moz-animation: fill 2s both;
  animation: fill 2s both;
}

.skills .skill:nth-child(1):after {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.skills .skill:nth-child(2):after {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.skills .skill:nth-child(3):after {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.skills .skill:nth-child(4):after {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.skills .skill:nth-child(5):after {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.skills .skill:nth-child(6):after {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.skills .skill[aria-label="css"]:after {
  right: 15%;
}

.skills .skill[aria-label="javascript"]:after {
  right: 20%;
}

/* .skills .skill[aria-label="adept"]:after {
right: 35%;
} */
.skills .skill[aria-label="html"]:after {
  right: 10%;
}

/* .skills .skill[aria-label="elite"]:after {
right: 10%;
} */
.skills .skill[aria-label="scss"]:after {
  right: 25%;
}

.skills .skill[aria-label="jquery"]:after {
  right: 30%;
}

.skills .skill[aria-label="node.js"]:after {
  right: 40%;
}

@-webkit-keyframes fill {
  from {
      right: 100%;
  }
}

@-moz-keyframes fill {
  from {
      right: 100%;
  }
}

@keyframes fill {
  from {
      right: 100%;
  }
}

/* Contact Page Attributes */

.contactPage {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  animation-duration: 1s;
  animation-name: createBox;
}

#contact:checked+.contactPage {
  display: block;
  width: 80vw;
  height: 80vh;
  top: 0;
  left: 10vw;
  background-color: #fff;
  border: 1.5rem solid #000;
  border-radius: 1rem;
  z-index: 1000;
}

/* Page Animation */

@keyframes createBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }

  80% {
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }

  80% {
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }

  80% {
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


/* Smoke Code */

@keyframes smoke1 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: scale(3) translate(-4px, -47px);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: scale(3) translate(-7px, -49px);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: scale(3) translate(3px, -33px);
    opacity: 0;
  }
}

@keyframes smoke4 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: scale(3) translate(-4px, -50px);
    opacity: 0;
  }
}

@keyframes smoke5 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: scale(3) translate(-1px, -36px);
    opacity: 0;
  }
}

.smoke-group {
  width: 10rem;
  height: 20rem;
  position: absolute;
  top: 25%;
  left: 75%;
}

.smoke {
  position: absolute;
  bottom: 0;
  left: calc(50% - 1.5rem / 2);
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(191, 189, 188, 0.822);
  border-radius: 0.75rem;
  filter: blur(0.6rem);
  opacity: 0;
}

.smoke:nth-child(1) {
  animation-name: smoke3;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(2) {
  animation-name: smoke5;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.8s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(3) {
  animation-name: smoke2;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(4) {
  animation-name: smoke2;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1.6s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(5) {
  animation-name: smoke5;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(6) {
  animation-name: smoke1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 2.4s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(7) {
  animation-name: smoke4;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 2.8s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(8) {
  animation-name: smoke1;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 3.2s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(9) {
  animation-name: smoke1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 3.6s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(10) {
  animation-name: smoke1;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(11) {
  animation-name: smoke1;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 4.4s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(12) {
  animation-name: smoke1;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 4.8s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(13) {
  animation-name: smoke1;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 5.2s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(14) {
  animation-name: smoke1;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 5.6s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(15) {
  animation-name: smoke1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(16) {
  animation-name: smoke1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 6.4s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(17) {
  animation-name: smoke3;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 6.8s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(18) {
  animation-name: smoke4;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 7.2s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(19) {
  animation-name: smoke1;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 7.6s;
  animation-iteration-count: infinite;
}

.smoke:nth-child(20) {
  animation-name: smoke5;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}


/* Responsive Image Gallery*/

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}